In [1]:
import pandas as pd
import numpy as np
import scipy.stats as sts

In [2]:
df = pd.read_csv('socialmobility.csv')
df['combo'] = df['father'] + '_' + df['son']
df = df[['combo', 'count']]
df

                        combo  count
0                   farm_farm    703
1              farm_unskilled   1478
2                farm_skilled   1430
3           farm_professional   1109
4              unskilled_farm     58
5         unskilled_unskilled   1756
6           unskilled_skilled   1630
7      unskilled_professional   1568
8                skilled_farm     63
9           skilled_unskilled   1453
10            skilled_skilled   2068
11       skilled_professional   2483
12          professional_farm     61
13     professional_unskilled    749
14       professional_skilled   1183
15  professional_professional   3315

There are 16 categories, we can start with uniform Dirichlet distribution over $\vec{p}$ with $\vec{\alpha} = (1, \cdots, 1)$.

$$Dirichlet(p_{1}, p_{2}, \cdots, p_{16}) | (1, 1, \cdots, 1)$$

Given that info, we know that the Dirichlet distribution is a conjugate prior for our Multinomial distribution. Therefore the posterior is also a Dirichlet distribution. 
The new alpha is given as $\vec{\alpha_{p\text{post}}} = \vec{\alpha_{\text{prior}}} + \vec{x}$

In [3]:
df['posterior'] = df['count'] + 1
df

                        combo  count  posterior
0                   farm_farm    703        704
1              farm_unskilled   1478       1479
2                farm_skilled   1430       1431
3           farm_professional   1109       1110
4              unskilled_farm     58         59
5         unskilled_unskilled   1756       1757
6           unskilled_skilled   1630       1631
7      unskilled_professional   1568       1569
8                skilled_farm     63         64
9           skilled_unskilled   1453       1454
10            skilled_skilled   2068       2069
11       skilled_professional   2483       2484
12          professional_farm     61         62
13     professional_unskilled    749        750
14       professional_skilled   1183       1184
15  professional_professional   3315       3316

In [4]:
samples = sts.dirichlet.rvs(list(df['posterior']), size=10000000)

In [5]:
samples

array([[0.03271644, 0.07292673, 0.06719231, ..., 0.03596035, 0.05454874,
        0.15166469],
       [0.03363889, 0.07192281, 0.06451225, ..., 0.03468563, 0.05665673,
        0.16252697],
       [0.03296097, 0.06657759, 0.06710244, ..., 0.03669185, 0.05506611,
        0.15518725],
       ...,
       [0.03197833, 0.0681482 , 0.06812832, ..., 0.03434879, 0.05638938,
        0.15398862],
       [0.032008  , 0.06851897, 0.06983416, ..., 0.03484872, 0.05547947,
        0.15857829],
       [0.03400199, 0.06883476, 0.06656245, ..., 0.03244451, 0.05859537,
        0.15926717]])

The `unskilled_skilled` category with index 6 represents the situation whereby the father was unskilled and their son was skilled. To calculate the 95% probability of this situaion we use `numpy`.

In [6]:
lower = np.percentile(samples[:, 6], 0.025)
upper = np.percentile(samples[:, 6], 0.975)

print(f"95% confidence interval = [{lower}, {upper}]")

95% confidence interval = [0.07097066699758794, 0.07298336393297479]

Doing the same thing for a father that works on the farm and their son works as a professional `farm_professional` index 3

In [7]:
lower = np.percentile(samples[:, 3], 0.025)
upper = np.percentile(samples[:, 3], 0.975)

print(f"95% confidence interval = [{lower}, {upper}]")

95% confidence interval = [0.0473744266076873, 0.04902684672565704]