## Appendix

### Appendix 1 Setup

In [1]:
import pandas as pd

In [2]:
data_url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQNXY6xTRRknm8q37iLmpo4wJzFiHrtwn_W1EwwywCBNS67KT1TusFWweRWaQKH-0l-KotykZ3wkeks/pub?gid=1459555462&single=true&output=csv'

In [3]:
country_mapper = lambda x: {'USA': 0, 'Canada': 1, 'Sweden': 2, 'Ukraine': 3, 'Kenya': 4, 'Brazil': 5, 'Bangladesh': 6}[x]
perception_mapper = lambda x: {'Budget (cheap)': 0, 'Mid-range': 1, 'Luxury (expensive)': 2}[x]

### Appendix 2 - Reading Data

In [4]:
df = pd.read_csv(
    data_url,
    usecols=[
        'country',
        'perception',
        'rent_normalized',
        'apples_1_price_normalized', 'apples_2_price_normalized', 'apples_3_price_normalized',
        'bananas_1_price_normalized', 'bananas_2_price_normalized', 'bananas_3_price_normalized',
        'tomatoes_1_price_normalized', 'tomatoes_2_price_normalized', 'tomatoes_3_price_normalized',
        'potatoes_1_price_normalized', 'potatoes_2_price_normalized', 'potatoes_3_price_normalized',
        'flour_1_price_normalized', 'flour_2_price_normalized', 'flour_3_price_normalized',
        'rice_1_price_normalized', 'rice_2_price_normalized', 'rice_3_price_normalized',
        'milk_1_price_normalized', 'milk_2_price_normalized', 'milk_3_price_normalized',
        'butter_1_price_normalized', 'butter_2_price_normalized', 'butter_3_price_normalized',
        'eggs_1_price_normalized', 'eggs_2_price_normalized', 'eggs_3_price_normalized',
        'chicken_1_price_normalized', 'chicken_2_price_normalized', 'chicken_3_price_normalized'
    ],
    na_values=0,  # Replace all 0's with NA values,
    converters={
        'country': country_mapper,
        'perception': perception_mapper
    },
    thousands=','  # The character used as the separator for thousands
)
df

,country,perception,rent_normalized,apples_1_price_normalized,apples_2_price_normalized,apples_3_price_normalized,bananas_1_price_normalized,bananas_2_price_normalized,bananas_3_price_normalized,tomatoes_1_price_normalized,...,milk_3_price_normalized,butter_1_price_normalized,butter_2_price_normalized,butter_3_price_normalized,eggs_1_price_normalized,eggs_2_price_normalized,eggs_3_price_normalized,chicken_1_price_normalized,chicken_2_price_normalized,chicken_3_price_normalized
0,1,0,1162.23,2.80,2.94,2.80,1.39,2.09,3.51,6.17,...,2.83,7.93,11.46,13.22,0.40,0.36,0.38,18.54,21.71,16.77
1,1,0,1242.39,5.29,3.53,7.05,1.36,1.60,5.29,5.29,...,1.06,7.75,10.05,13.58,0.36,0.50,0.51,6.17,9.70,19.41
2,0,1,2996.00,3.45,2.64,2.20,1.97,2.08,NaN,7.03,...,2.39,5.33,8.20,14.30,0.14,0.13,0.33,13.19,7.57,4.68
3,0,2,3360.00,5.48,6.59,8.79,1.08,3.28,4.38,4.38,...,5.25,9.98,18.64,19.96,0.72,0.50,0.48,10.99,13.19,15.40
4,0,0,4000.00,4.38,2.62,2.18,1.30,1.52,1.74,2.84,...,0.53,8.13,9.89,10.99,0.33,0.37,0.25,13.19,4.85,9.89
5,0,2,4000.00,9.00,4.76,NaN,4.13,NaN,NaN,4.17,...,5.42,39.60,16.23,26.39,0.50,0.46,NaN,47.00,NaN,NaN
6,2,0,812.51,3.42,3.54,2.36,2.95,3.19,3.30,3.78,...,1.02,9.20,9.20,11.09,0.35,0.29,0.34,12.75,16.45,11.47
7,2,1,812.51,2.36,3.42,3.42,3.42,NaN,NaN,3.78,...,NaN,9.44,9.91,11.80,0.23,0.26,0.29,17.60,13.11,18.29
8,3,0,144.35,1.03,0.87,0.89,1.03,1.08,1.21,1.80,...,0.83,7.94,8.47,8.81,0.12,0.10,0.13,3.97,4.18,4.01
9,3,1,360.87,1.26,1.24,1.08,1.33,1.23,1.23,2.19,...,2.02,11.55,12.57,16.66,0.16,0.14,0.14,4.69,4.33,4.53
10,0,1,2595.00,2.20,2.64,5.28,1.99,0.56,NaN,11.74,...,3.11,33.03,11.00,10.12,0.30,0.45,0.66,7.58,17.63,9.79
11,0,0,1695.00,2.37,4.75,2.54,1.15,1.10,1.50,2.38,...,1.16,7.65,6.57,16.93,0.58,0.39,0.14,9.83,7.67,16.38
12,3,1,36.09,0.69,0.79,0.72,1.26,1.44,1.15,1.44,...,1.04,9.02,7.42,9.22,2.34,2.41,2.00,4.94,5.05,4.98
13,3,1,54.13,0.87,0.94,1.01,1.23,1.30,1.30,1.30,...,1.36,7.62,8.82,10.83,2.47,2.61,2.81,3.43,2.89,3.07
14,0,1,4000.00,8.80,7.69,5.49,1.74,2.18,4.39,8.80,...,2.03,9.88,8.80,15.41,0.42,0.39,0.41,7.69,18.72,13.21
15,0,0,1795.00,2.37,2.54,4.75,1.15,4.24,NaN,2.38,...,1.16,6.56,6.56,7.64,0.58,0.39,0.17,9.82,11.41,7.67
16,0,1,1330.00,8.20,3.94,4.13,1.95,1.50,NaN,4.42,...,NaN,8.33,15.50,36.00,0.12,0.33,0.58,10.64,16.64,11.09
17,0,1,2923.00,8.79,5.48,4.38,1.74,2.18,4.38,8.79,...,1.13,10.00,10.36,15.71,0.42,0.58,0.33,NaN,NaN,NaN
18,0,1,1330.00,4.42,2.87,6.67,1.31,1.53,NaN,2.20,...,1.45,6.00,18.67,6.67,0.18,0.12,NaN,3.98,7.76,6.67
19,0,0,2800.00,3.38,3.96,4.70,1.69,1.29,1.49,3.49,...,6.94,11.53,6.64,9.31,0.25,0.58,0.46,11.49,6.88,7.28
20,0,1,3500.00,4.99,6.49,8.24,1.54,1.82,1.98,8.08,...,0.92,18.76,17.84,19.21,0.11,0.10,0.19,3.60,3.72,6.21
21,0,1,2880.00,4.42,5.53,6.64,1.76,2.20,NaN,8.87,...,1.48,21.70,18.64,13.31,0.25,0.31,0.42,13.23,17.21,21.09
22,0,2,2595.00,5.14,15.53,3.78,2.98,1.76,NaN,6.64,...,2.32,10.87,19.98,10.64,0.43,0.71,0.29,8.00,NaN,NaN
23,0,0,1934.00,3.76,2.18,3.76,1.44,1.67,1.44,2.18,...,1.05,8.42,8.42,49.95,0.54,0.37,0.23,6.20,11.09,9.93
24,0,2,2923.00,7.76,7.76,11.09,3.98,3.98,3.98,6.64,...,2.37,13.31,13.31,11.09,0.50,0.33,0.62,13.31,22.20,22.20
25,4,1,456.26,3.35,3.19,3.42,0.87,NaN,NaN,0.68,...,0.82,11.02,17.85,8.54,0.16,0.14,0.13,6.84,6.39,NaN
26,5,1,144.06,2.95,2.52,2.88,1.29,0.72,1.55,1.26,...,0.83,8.91,11.62,9.89,0.10,0.13,0.12,2.16,2.68,2.79
27,5,1,144.06,1.62,NaN,NaN,0.82,1.08,NaN,1.61,...,0.81,11.34,10.79,11.69,0.10,0.16,NaN,3.00,3.48,3.06
28,5,1,144.06,1.71,NaN,NaN,0.77,NaN,NaN,1.31,...,NaN,3.24,NaN,NaN,0.12,0.16,NaN,2.93,2.45,NaN
29,5,1,144.06,2.52,2.75,NaN,0.72,1.29,NaN,1.26,...,0.77,12.16,11.62,11.26,0.12,0.10,0.10,1.80,2.21,NaN
30,0,2,3700.00,4.42,6.64,NaN,4.42,2.64,4.42,5.98,...,2.11,11.09,16.40,13.98,0.83,0.50,0.37,10.50,17.37,10.65
31,0,1,2850.00,2.20,3.67,3.45,1.99,0.88,NaN,3.53,...,1.85,11.09,8.20,13.29,0.17,0.45,0.25,8.87,12.18,14.42
32,0,1,2663.00,6.50,10.20,6.50,1.75,1.33,1.33,5.98,...,2.50,6.00,14.00,6.00,0.25,0.22,0.42,14.40,5.97,10.01
33,0,1,1000.00,2.48,3.37,3.57,1.16,0.88,0.99,2.46,...,2.98,16.70,16.70,12.91,0.09,0.11,0.11,11.87,4.33,4.18
34,0,0,1000.00,6.62,11.09,4.13,7.67,10.13,8.38,3.02,...,2.69,7.76,7.31,8.42,0.21,0.25,0.32,11.09,2.87,13.53
35,0,2,5997.00,4.38,7.69,5.26,1.74,1.96,NaN,7.03,...,2.38,12.53,12.09,12.53,0.60,0.23,0.24,13.85,13.19,15.40
36,0,1,3500.00,4.87,0.85,6.64,4.42,4.42,1.61,4.42,...,2.00,17.65,18.98,11.09,0.46,0.42,0.37,7.34,4.44,2.53
37,0,1,2983.00,8.87,5.53,7.76,1.76,2.20,4.42,8.87,...,0.92,9.98,15.53,15.53,0.37,0.40,0.67,9.46,18.87,15.16
38,0,1,4200.00,6.64,4.40,6.64,2.10,2.19,3.93,4.65,...,1.58,17.65,13.23,6.59,0.46,1.92,0.33,4.40,4.58,7.71
39,0,1,2891.00,2.20,5.29,2.20,1.97,3.31,NaN,7.09,...,1.48,10.42,9.16,17.35,0.16,0.25,0.33,7.60,6.64,13.31
40,0,1,2595.00,3.58,NaN,NaN,1.98,NaN,NaN,2.98,...,NaN,19.91,NaN,NaN,0.24,NaN,NaN,5.98,NaN,NaN
41,0,0,2595.00,2.58,NaN,NaN,1.38,NaN,NaN,2.58,...,NaN,18.81,NaN,NaN,0.22,NaN,NaN,4.50,NaN,NaN
42,0,0,1900.00,1.30,2.19,NaN,1.08,0.64,NaN,2.19,...,NaN,7.25,11.88,NaN,0.18,NaN,NaN,9.90,NaN,NaN
43,0,0,3000.00,4.41,2.71,NaN,1.43,NaN,NaN,7.92,...,NaN,13.23,NaN,NaN,0.25,NaN,NaN,5.00,NaN,NaN
44,0,1,3200.00,4.89,NaN,NaN,2.14,NaN,NaN,9.60,...,NaN,14.09,NaN,NaN,0.28,NaN,NaN,6.00,NaN,NaN
45,0,0,1900.00,1.52,1.30,NaN,1.08,NaN,NaN,1.74,...,NaN,10.12,11.00,NaN,0.17,NaN,NaN,11.00,NaN,NaN
46,6,0,47.25,1.65,1.77,2.13,0.47,0.57,0.66,0.35,...,1.06,11.81,10.93,NaN,0.08,0.07,0.15,1.65,4.73,3.31
47,6,0,35.44,1.89,2.01,NaN,0.47,0.57,NaN,0.35,...,1.06,11.81,10.93,NaN,0.07,0.08,0.15,1.77,3.31,4.13
48,0,0,2200.00,2.17,2.17,2.50,2.00,1.73,1.66,5.56,...,1.85,6.64,6.20,7.76,0.16,0.21,0.17,6.64,8.89,7.76
49,0,0,2695.00,3.30,4.61,1.67,1.18,1.80,1.50,5.00,...,2.66,11.98,9.98,15.96,0.83,0.62,0.58,6.00,7.16,6.30
50,0,1,2705.00,4.75,3.66,4.66,2.98,3.96,1.66,3.98,...,2.55,6.53,2.63,6.62,0.17,0.17,0.17,10.77,10.98,7.99
51,0,1,2750.00,8.79,6.59,NaN,3.94,14.49,NaN,12.09,...,NaN,11.87,25.51,NaN,0.50,0.58,0.62,17.60,NaN,NaN
52,0,1,2999.00,4.42,8.87,5.53,1.76,2.20,4.42,8.87,...,2.67,0.62,0.62,0.64,0.42,0.40,0.23,7.76,17.76,6.64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 33 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      53 non-null     int64
 1   perception                   53 non-null     int64
 2   rent_normalized              53 non-null     float64
 3   apples_1_price_normalized    53 non-null     float64
 4   apples_2_price_normalized    48 non-null     float64
 5   apples_3_price_normalized    40 non-null     float64
 6   bananas_1_price_normalized   53 non-null     float64
 7   bananas_2_price_normalized   44 non-null     float64
 8   bananas_3_price_normalized   29 non-null     float64
 9   tomatoes_1_price_normalized  53 non-null     float64
 10  tomatoes_2_price_normalized  44 non-null     float64
 11  tomatoes_3_price_normalized  38 non-null     float64
 12  potatoes_1_price_normalized  53 non-null     float64
 13  potatoes_2_price_normalized  45 non-null     float64
 14  potatoes_3_price_normalized  40 non-null     float64
 15  flour_1_price_normalized     53 non-null     float64
 16  flour_2_price_normalized     47 non-null     float64
 17  flour_3_price_normalized     42 non-null     float64
 18  rice_1_price_normalized      53 non-null     float64
 19  rice_2_price_normalized      44 non-null     float64
 20  rice_3_price_normalized      42 non-null     float64
 21  milk_1_price_normalized      53 non-null     float64
 22  milk_2_price_normalized      44 non-null     float64
 23  milk_3_price_normalized      43 non-null     float64
 24  butter_1_price_normalized    53 non-null     float64
 25  butter_2_price_normalized    48 non-null     float64
 26  butter_3_price_normalized    43 non-null     float64
 27  eggs_1_price_normalized      53 non-null     float64
 28  eggs_2_price_normalized      47 non-null     float64
 29  eggs_3_price_normalized      43 non-null     float64
 30  chicken_1_price_normalized   52 non-null     float64
 31  chicken_2_price_normalized   43 non-null     float64
 32  chicken_3_price_normalized   40 non-null     float64
dtypes: float64(31), int64(2)
memory usage: 13.8 KB

In [6]:
products = {
    # Product name: list of product values
}

only_prices = df[
    df.columns[
        ~df.columns.isin(
            ['country','perception','rent_normalized']  # Excluded columns
        )
    ]
]

# Concatenate all the different brands of a given product
for col in only_prices:
    product_name = col.split('_')[0]
    product_values = products.get(product_name, [])
    product_values.extend(list(df[col]))
    products[product_name] = product_values

# Given we concatenated the values on top of each other
# we can concatenate the other values too
products['country'] = list(df['country'])*3
products['perception'] = list(df['perception'])*3
products['rent_normalized'] = list(df['rent_normalized'])*3
    
data = pd.DataFrame(products)
data

,apples,bananas,tomatoes,potatoes,flour,rice,milk,butter,eggs,chicken,country,perception,rent_normalized
0,2.80,1.39,6.17,3.53,2.40,6.51,2.60,7.93,0.40,18.54,1,0,1162.23
1,5.29,1.36,5.29,2.48,1.04,2.32,3.36,7.75,0.36,6.17,1,0,1242.39
2,3.45,1.97,7.03,1.14,1.63,5.79,1.16,5.33,0.14,13.19,0,1,2996.00
3,5.48,1.08,4.38,2.18,3.52,4.96,1.53,9.98,0.72,10.99,0,2,3360.00
4,4.38,1.30,2.84,0.66,2.19,4.95,0.92,8.13,0.33,13.19,0,0,4000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,2.50,1.66,NaN,1.30,0.88,1.65,1.85,7.76,0.17,7.76,0,0,2200.00
155,1.67,1.50,5.49,2.99,4.66,5.33,2.66,15.96,0.58,6.30,0,0,2695.00
156,4.66,1.66,4.99,1.99,0.96,3.09,2.55,6.62,0.17,7.99,0,1,2705.00
157,NaN,NaN,8.79,4.38,NaN,NaN,NaN,NaN,0.62,NaN,0,1,2750.00
158,5.53,4.42,6.64,1.11,1.07,7.86,2.67,0.64,0.23,6.64,0,1,2999.00

In [7]:
data[
    data.columns[
        ~data.columns.isin(
            ['country','perception','rent_normalized']  # Excluded columns
        )
    ]
].mean(skipna=True)

apples       4.215674
bananas      2.260476
tomatoes     5.323630
potatoes     2.666087
flour        2.692394
rice         4.404173
milk         1.776857
butter      12.200972
eggs         0.414755
chicken      9.406296
dtype: float64